<h2>About BikeWorld</h2>
<p class="info-page-text">Our history started back in 2001 when we first set up a small bike shop in Kreuzberg. We have grown rapidly ever since and managed to make hundreds of customers happy by advising them on the best bike for their needs.</p>
<div class="container-fluid info-page-img">
<%= image_tag("info-page-img1.jpg") %>
</div>
