<h2>Contact us</h2>
<p class="info-page-text">On our website we have selected the top bikes and listed their features - go ahead and get one online to cruise through the city with style! We understand, though, that you may prefer to see your dream bike live first. Feel free to drop by Alexanderstrasse 54 anytime from Monday to Friday from 9am till 6pm or just give us a ring on 175-175-1755.</p>
<div class="container-fluid info-page-img">
<%= image_tag("info-page-img2.jpg") %>
</div>
