<table>
  <tbody>
    <tr>
      <td><h2>Order successful!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for buying this marvellous bike! We are absolutely certain that it will serve you well regardless of your biking habits.</p></td>
    </tr>
    <tr>
      <td><p><strong>Your BikeWorld Team!</strong></p></td>
    </tr>
  </tbody>
</table>
