// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-pic {
  width: 100%;
}

.product-pic-order {
  width: 40%;
  margin-top: 5%;
}

.edit-commands {
  margin: 3%;
}

.control-label {
  font-weight: bolder;
}
