// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
  padding-top: 5%;
}

h2 {
  text-align: center;
  padding: 2%
}

.hero-img {
  padding: 2%;
  width: 80%;
  margin: 0% 10%;
}

.carousel-div img {
  width: 60%;
  margin: 0% 20%;
}

// Footer

.footer-menu {
  background-color: #343A36;
  padding: 2% 0% 2% 7%;
  margin-top: 2%;
}

.nav-link {
  color: #999C9F;
}

.footer-title {
  color: white;
}

#copyright {
  padding: 1%;
  font-size: 0.9em;
}
