// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-nav {
  font-weight: bold;
}

.login-notice {
  margin: 2% 0% 0% 3%;
}

.login-page {
  width: 60%;
  margin: 3% 20% 3% 20%;
}
