<h2>Editing Product</h2>

<div class="container">
  <%= render 'form', product: @product %>

  <div class="edit-commands">
    <%= link_to 'Show', @product %> |
    <%= link_to 'Back', products_path %>
  </div>
</div>
