<h2>Products</h2>

<div class="container-fluid">
  <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
    <br>

  </div>
</div>
<br>
<p><%= link_to 'New Product', new_product_path, class:"product-new" %></p>
